.post-card {
    background-color: rgb(254, 250, 219);
    border: 2px solid black;
    width: 500px;
    margin: auto;
    height: auto;
    overflow: auto;
}

.content {
    cursor: pointer;
    width: auto;
}

.no-content {
    min-width: 500px;
    text-align: center;
}

.post-card .content.collapsed {
    max-height: 100px;
}

.post-card  .content.expanded {
    max-height: 1000px;
    overflow: auto;

    transition: max-height 3s linear;
}

.post-card:focus {
    outline: none;
    border: 3px solid black;
}

.content.expanded .post-card__expanded {
    animation: fadeIn 500ms;
}

.post-card .toggle-icon {
    position: absolute;
    color: var(--black);

    right: 15px;
    top: 12px;
    font-size: 15px;
}

.post-card .toggle-icon:hover {
    transform: rotate(180deg);
    transition: transform 0.5s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-device-width: 480px) {
    .content {
        min-width: 100%;
        width: auto;
    }

    .cards_container {
        min-width: 100%;
    }

    .post-card {
        max-width: 500px;
        min-width: auto;
        width: 100%;
    }

    .no-content {
        min-width: auto;
        text-align: center;
    }
}
